<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Post Details</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/posts"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button fill="outline" *ngIf="loggedIn" (click)="logout()">
        <ion-icon slot="start" name="log-out"></ion-icon>
        Log out
      </ion-button>
      <ion-button fill="outline" *ngIf="!loggedIn" (click)="login()">
        <ion-icon slot="start" name="log-in"></ion-icon>
        Log in
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="container-spinner" *ngIf="isFetching">
      <ion-spinner name="bubbles" class="ion-text-center"></ion-spinner>
    </div>
    <div class="error-container" *ngIf="hasError">
      <ion-text>{{errorMessage}}</ion-text>
    </div>
    <div class="post-details">
      <ion-img class="post-img" [src]="postDetails.imageUrl"></ion-img>
      <div class="header">
        <h3>{{postDetails.title}}</h3>
        <div class="post-chip">
          <ion-icon title="Author" name="person"></ion-icon>
          <ion-text> {{postDetails.user?.name}} </ion-text>
        </div>
        <div class="post-chip">
          <ion-icon title="Date" name="calendar"></ion-icon>
          <ion-text> {{formatDate(postDetails.dateModified)}} </ion-text>
        </div>
        <div class="post-chip">
          <ion-icon title="Comments" name="chatbubbles"></ion-icon>
          <ion-text> {{postDetails.noOfComments}} </ion-text>
        </div>
      </div>
    </div>

    <div class="content">{{postDetails.content}}</div>

    <div class="comments">
      <ion-toolbar>
        <ion-title>Comments</ion-title>
      </ion-toolbar>

      <div class="comment-form">
        <form [formGroup]="commentForm">
          <ion-input
            placeholder="Add a comment..."
            fill="solid"
            formControlName="content"
            class="ion-margin-bottom"
          ></ion-input>
          <div class="user-details">
            <ion-grid style="padding: 0">
              <ion-row>
                <ion-col size="12" sizeMd="3">
                  <ion-input
                    label="First name"
                    labelPlacement="stacked"
                    formControlName="firstName"
                    fill="solid"
                    [readonly]="loggedIn"
                  ></ion-input>
                </ion-col>

                <ion-col size="12" sizeMd="3">
                  <ion-input
                    label="Last name"
                    labelPlacement="stacked"
                    formControlName="lastName"
                    [readonly]="loggedIn"
                    fill="solid"
                  ></ion-input>
                </ion-col>

                <ion-col size="12" sizeMd="3">
                  <ion-input
                    label="Email"
                    labelPlacement="stacked"
                    formControlName="email"
                    [readonly]="loggedIn"
                    fill="solid"
                  ></ion-input>
                </ion-col>

                <ion-col size="12" sizeMd="3">
                  <ion-input
                    label="Phone"
                    labelPlacement="stacked"
                    formControlName="phone"
                    [readonly]="loggedIn"
                    fill="solid"
                  ></ion-input>
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-checkbox
              *ngIf="!loggedIn"
              formControlName="saveDetails"
              style="padding-left: 5px"
              >Save my name and email</ion-checkbox
            >
          </div>

          <ion-checkbox formControlName="anonymous" style="margin-top: 1rem"
            >Anonymous</ion-checkbox
          >
          <div class="comment-form-btns">
            <ion-button
              size="small"
              shape="round"
              [disabled]="commentForm.invalid"
              (click)="addComment()"
            >
              <ion-spinner *ngIf="isAddingComment"></ion-spinner>
              Reply
            </ion-button>
          </div>
        </form>
      </div>

      <ion-segment
        [value]="commentFilter"
        *ngIf="loggedIn"
        mode="ios"
        [scrollable]="true"
        (ionChange)="commentStatusChange($event)"
      >
        <ion-segment-button [value]="0">
          <ion-label
            >All
            <!-- <ion-badge>23</ion-badge>  -->
          </ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="1">
          <ion-label>My comments</ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="2" *ngIf="postDetails.isOwner">
          <ion-label>Pending</ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="3" *ngIf="postDetails.isOwner">
          <ion-label>Hidden</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-list class="ion-margin-top">
        <!-- <ion-list-header> </ion-list-header> -->

        <app-comment
          *ngFor="let comment of comments; let index"
          [commentId]="comment.id"
          [postId]="comment.postId"
          [content]="comment.content"
          [hasReply]="comment.hasReply"
          [edited]="comment.edited"
          [noOfReplies]="comment.noOfReplies"
          [name]="comment?.user?.name"
          [isOwner]="comment.isOwner"
          [isPostOwner]="comment.isPostOwner"
          [showReplyBtn]="showReplies"
          [filters]="{ status: commentStatus, parentId, userId }"
          [imageUrl]="comment?.user?.dpUrl"
          (refresh)="refreshComments()"
        ></app-comment>
      </ion-list>
    </div>
  </div>
</ion-content>
