.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px 10px;
}

.container-spinner {
  display: flex;
  justify-content: center;
}

.error-container {
  display: flex;
  justify-content: center;
}

.post-card {
  ion-img {
    height: 200px;
    object-fit: cover;
    object-position: center;
  }

  ion-card-content {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
}
